.display-order-details {
  position: fixed;
  top: 40px;
  bottom: 200px;
  left: 102px;
  right: 50px;
  padding: 50px 10px;
  border: none;
  border-radius: 0 8px 0 8px;
  min-width: 1300px;
  background-color: rgb(255, 255, 160);
  overflow: auto;
}

.display-order-details::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.display-order-details::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 6px;
}

.display-order-details::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.details-of-order {
  font: 500 30px Roboto, Arial;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin-bottom: 100px;
}

.price-span {
  color: darkgreen;
  font: 700 40px Roboto, arial;
  text-decoration: 3px underline red;
  user-select: none;
}

.date-description-span {
  color: red;
  text-decoration: underline;
  display: inline-block;
}

.food-name-span {
  font: 700 25px Roboto, arial;
}

.info-span {
  font: 400 23px roboto, arial;
}

.delete-button {
  border: none;
  font: inherit;
  border-radius: 8px;
  padding: 10px;
  max-height: 60px;
  max-width: 200px;
  background-color: darkred;
  cursor: pointer;
  color: white;
  transition: background-color 0.15s;
}

.delete-button:hover {
  background-color: rgb(20, 20, 20);
}

.display-total-price {
  display: fixed;
  left: 5px;
  top: 400px;
  width: 70px;
  padding: 10px;
  background-color: black;
  border-radius: 4px;
  color: white;
  font: 500 20px Roboto, arial;
}